body{
    background:rgba(12, 81, 254, 0.471);
    color:white;
}

.heading{
    width:80%;
    font-size: 22px;
}

.name_of_objects{
    color:wheat;
}
    
#camera{
    border:2px dashed black;
    width: 350px;
    height: 300px;
}

#result{
    border: 1px dashed white;
}

#result_object_name{
    color:wheat;
}

#result_object_accuaracy{
    color:wheat;
}
